.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    min-width: 100px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--white);

    + .wrapper {
        margin-left: 8px;
    }
}

//Button style
.rounded {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: #ef2950;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    color: var(--text-color);

    &:hover {
        text-decoration: underline;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

//Button size
.small {
    min-width: 88px;
    padding: 3px 16px;
}

.lagre {
    min-width: 136px;
    padding: 13px 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
