.menu-list {
    width: 224px;

    .menu-item {
        width: 100%;
        color: var(--text-color);
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 0;
        padding: 10px 16px;
        justify-content: flex-start;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}
