.menu-list {
    width: 224px;

    .menu-item {
        width: 100%;
        color: var(--text-color);
        font-weight: 400;
        margin-left: 0;
        padding: 10px 16px;
        border-radius: 0;
        line-height: 2rem;
        justify-content: flex-start;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Header title
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.header-title {
    font-weight: 600;
}

.back-btn {
    width: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
