.wrapper {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    flex: 1;
}

.name {
    font-weight: bold;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 8px;
}

.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
