.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-spacer: 18px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.actions-btn {
    position: relative;
    color: #888;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 4px 12px;
    background-color: transparent;
}

.more-btn {
    padding: 4px 8px;
    font-size: 2rem;
    margin-left: 20px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 12px;
}

.actions-icon {
    display: flex;
    align-items: center;
}

.badge {
    position: absolute;
    top: 1px;
    right: 3px;
    height: 2rem;
    padding: 0 6px;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--primary);
}

.menu-item-icon {
    display: flex;
    align-items: center;
}
