.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-spacer: 18px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 361px;
}

.search {
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    align-items: center;
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    background-color: rgba(22, 24, 35, 0.06);
    position: relative;

    input {
        flex: 1;
        height: 100%;
        color: var(--text-color);
        caret-color: var(--primary);
        font-size: 1.6rem;
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }

    &::before {
        content: '';
        display: block;
        width: 1px;
        height: calc(var(--search-height) - var(--search-button-spacer));
        background-color: rgba(22, 24, 35, 0.12);
        position: absolute;
        top: 50%;
        right: var(--search-button-width);
        transform: translateY(-50%);
    }
}

.clear,
.loading {
    font-size: 1.5rem;
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(var(--search-button-width) + 16px);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 2rem;
    cursor: pointer;
    color: rgba(22, 24, 35, 0.45);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.more-btn {
    padding: 4px 8px;
    font-size: 2rem;
    margin-left: 20px;
    background-color: transparent;
    cursor: pointer;
}
